<!DOCTYPE HTML>
<html>
<head>
	<title>Astral by HTML5 UP</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
	<link rel="stylesheet" href="assets/css/main.css" />
	<noscript><link rel="stylesheet" href="assets/css/noscript.css" /></noscript>
	<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
</head>
<body>

	<div id="wrapper">

		<nav id="nav">
			<a href="#me" class="icon fa-sign-in active"><span>Вход</span></a>
			<a href="#work" class="icon fa-user-plus"><span>Регистрация</span></a>
		</nav>

		<div id="main">

			<article id="me" class="panel">
				<header>
					<h1>Jane Doe</h1>
					<p>Senior Astral Projectionist</p>
				</header>
				<a href="#work" class="jumplink pic">
					<span class="arrow icon fa-chevron-right"><span>See my work</span></span>
					<img src="images/me.jpg" alt="" />
				</a>
			</article>

			<article id="work" class="panel">
				<header>
					<h2>Work</h2>
				</header>
				<p>
					Phasellus enim sapien, blandit ullamcorper elementum eu, condimentum eu elit.
					Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia
					luctus elit eget interdum.
				</p>
				<section>
					<div class="row">
						<div class="4u 12u$(mobile)">
							<a href="#" class="image fit"><img src="images/pic01.jpg" alt=""></a>
						</div>
						<div class="4u 12u$(mobile)">
							<a href="#" class="image fit"><img src="images/pic02.jpg" alt=""></a>
						</div>
						<div class="4u$ 12u$(mobile)">
							<a href="#" class="image fit"><img src="images/pic03.jpg" alt=""></a>
						</div>
						<div class="4u 12u$(mobile)">
							<a href="#" class="image fit"><img src="images/pic04.jpg" alt=""></a>
						</div>
						<div class="4u 12u$(mobile)">
							<a href="#" class="image fit"><img src="images/pic05.jpg" alt=""></a>
						</div>
						<div class="4u$ 12u$(mobile)">
							<a href="#" class="image fit"><img src="images/pic06.jpg" alt=""></a>
						</div>
						<div class="4u 12u$(mobile)">
							<a href="#" class="image fit"><img src="images/pic07.jpg" alt=""></a>
						</div>
						<div class="4u 12u$(mobile)">
							<a href="#" class="image fit"><img src="images/pic08.jpg" alt=""></a>
						</div>
						<div class="4u$ 12u$(mobile)">
							<a href="#" class="image fit"><img src="images/pic09.jpg" alt=""></a>
						</div>
						<div class="4u 12u$(mobile)">
							<a href="#" class="image fit"><img src="images/pic10.jpg" alt=""></a>
						</div>
						<div class="4u 12u$(mobile)">
							<a href="#" class="image fit"><img src="images/pic11.jpg" alt=""></a>
						</div>
						<div class="4u$ 12u$(mobile)">
							<a href="#" class="image fit"><img src="images/pic12.jpg" alt=""></a>
						</div>
					</div>
				</section>
			</article>

			<article id="contact" class="panel">
				<header>
					<h2>Contact Me</h2>
				</header>
				<form action="#" method="post">
					<div>
						<div class="row">
							<div class="6u 12u$(mobile)">
								<input type="text" name="name" placeholder="Name" />
							</div>
							<div class="6u$ 12u$(mobile)">
								<input type="text" name="email" placeholder="Email" />
							</div>
							<div class="12u$">
								<input type="text" name="subject" placeholder="Subject" />
							</div>
							<div class="12u$">
								<textarea name="message" placeholder="Message" rows="8"></textarea>
							</div>
							<div class="12u$">
								<input type="submit" value="Send Message" />
							</div>
						</div>
					</div>
				</form>
			</article>

		</div>

		<div id="footer">
			<ul class="copyright">
				<li><p>&copy; {{ config('app.name', 'Laravel') }}. Все права защищены.</p></li>
			</ul>
		</div>
	</div>

	<script src="assets/js/jquery.min.js"></script>
	<script src="assets/js/skel.min.js"></script>
	<script src="assets/js/skel-viewport.min.js"></script>
	<script src="assets/js/util.js"></script>
	<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
	<script src="assets/js/main.js"></script>

</body>
</html>
